<div class="card" style="width: 40rem">
    <div class="card-body">
        <h4 class="card-title">Cod: 101.10.E</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>

        <div class="flex flex-row">
            <img src="./assets/images/choco.jpg" class="rounded"/>
            <p class="card-text">Some example text. Some example text.</p>
        </div>
    </div>
</div>
