<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="">
        <h1 class="ml-5 font-bold">Magic Ice</h1>
    </div>

    <div class="d-flex flex-row hidden lg:block">
        <p-button [text]="true" [plain]="true" class="mx-3"
        >{{ "about-us" | translate }}
        </p-button>
        <p-button [text]="true" [plain]="true" class="mr-3">
            {{ "products" | translate }}
        </p-button>
        <p-button [text]="true" [plain]="true" class="mr-2"
        >{{ "contact" | translate }}
        </p-button>
    </div>

    <div class="flex flex-row hidden lg:block">
        <input
                class="group mr-2 h-2rem hidden lg:block"
                type="text"
                placeholder=" cautare "
                pInputText
        />
    </div>

    <div class="flex flex-row">
        <p-button
                size="small"
                class="m-0 p-0"
                [rounded]="true"
                [text]="true"
                [plain]="language != 'en'"
                (onClick)="changeLanguage('en')"
        >EN
        </p-button>
        <p-button
                size="small"
                [plain]="language != 'ro'"
                class="m-0 p-0"
                [text]="true"
                [rounded]="true"
                (onClick)="changeLanguage('ro')"
        >RO
        </p-button>
    </div>

    <div class="flex flex-row mr-0">
        <p-button
                class="menu-button block md:hidden"
                size="small"
                [rounded]="true"
                [text]="true"
                type="button"
                (click)="visibleSidebar = true"
                icon="pi pi-align-justify"
        ></p-button>
    </div>

    <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
        <h1 style="font-weight: normal">Left Sidebar</h1>
        <p-button
                type="button"
                (click)="visibleSidebar = false"
                label="Save"
                styleClass="p-button-success"
        ></p-button>
        <p-button
                type="button"
                (click)="visibleSidebar = false"
                label="Cancel"
                styleClass="p-button-secondary"
        ></p-button>
    </p-sidebar>
</div>
