<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="">
        <h1 class="ml-5 font-bold">Magic Ice</h1>
    </div>

    <div class="d-flex flex-row hidden lg:block">
        <p-button [text]="true" [plain]="true" class="mx-3"
        >{{ "about-us" | translate }}
        </p-button>
        <p-button [text]="true" [plain]="true" class="mr-3">
            {{ "products" | translate }}
        </p-button>
        <p-button [text]="true" [plain]="true" class="mr-2"
        >{{ "contact" | translate }}
        </p-button>
    </div>

    <div class="flex flex-row hidden lg:block">
        <input
                class="group mr-2 h-2rem hidden lg:block"
                type="text"
                placeholder=" cautare "
                pInputText
        />
    </div>

    <div class="flex flex-row">
        <p-button
                size="small"
                class="m-0 p-0"
                [rounded]="true"
                [text]="true"
                [plain]="language != 'en'"
                (onClick)="changeLanguage('en')"
        >EN
        </p-button>
        <p-button
                size="small"
                [plain]="language != 'ro'"
                class="m-0 p-0"
                [text]="true"
                [rounded]="true"
                (onClick)="changeLanguage('ro')"
        >RO
        </p-button>
    </div>

    <div class="flex flex-row mr-0">
        <p-button
                class="menu-button block md:hidden"
                size="small"
                [rounded]="true"
                [text]="true"
                type="button"
                (click)="visibleSidebar = true"
                icon="pi pi-align-justify"
        ></p-button>
    </div>

    <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" [modal]="false">
        <ul class="no-dots align-items-center">
            <li>
                <p-button (click)="navigateTo('home')" [text]="true">{{ "home" | translate }}</p-button>
            </li>
            <li>
                <p-button (click)="navigateTo('brand')" [text]="true">{{ "brand" | translate }}</p-button>
            </li>
            <li>
                <p-button (click)="navigateTo('contact')" [text]="true">{{ "contact" | translate }}</p-button>
            </li>
            <li>
                <p-button (click)="navigateTo('products')" [text]="true">{{ "products" | translate }}</p-button>
            </li>

            <li>
                <p-button (click)="navigateTo('ice-powder')" [text]="true"
                ><i class="pi pi-angle-right"></i> &nbsp;{{
                        "ice-powder" | translate
                    }}
                </p-button>
            </li>

            <li>
                <p-button (click)="navigateTo('standard-powder')" [text]="true">
                    <i class="pi pi-angle-double-right"></i> &nbsp;
                    {{ "ice-powder-standard" | translate }}
                </p-button>
            </li>
            <li>
                <p-button (click)="navigateTo('premium-powder')" [text]="true">
                    <i class="pi pi-angle-double-right"></i> &nbsp;{{
                        "ice-powder-premium" | translate
                    }}
                </p-button>
            </li>

            <li>
                <p-button (click)="navigateTo('granita')" [text]="true"
                ><i class="pi pi-angle-right"></i> &nbsp;{{
                        "granita-slush" | translate
                    }}
                </p-button>
            </li>
            <li>
                <p-button (click)="navigateTo('topping')" [text]="true" href="app/pages/topping"
                ><i class="pi pi-angle-right"></i> &nbsp;{{
                        "toppings" | translate
                    }}
                </p-button
                >
            </li>
            <li>
                <p-button (click)="navigateTo('accessories')" [text]="true"
                ><i class="pi pi-angle-right"></i> &nbsp;{{
                        "accessories" | translate
                    }}
                </p-button>
            </li>
        </ul>
    </p-sidebar>
</div>
