<div>
    <p-toolbar [ngStyle]="{ 'background-color': '#183462' }">
        <div class="p-toolbar-group-start">
            <img src="../../../assets/logo-sample.png" width="200" height="100"/>
            <a class="mx-3">{{ "about-us" | translate }}</a>
            <a class="mr-3"> {{ "products" | translate }}</a>
            <a class="mr-2">{{ "contact" | translate }}</a>
        </div>
        <div class="p-toolbar-group-end">
            <input class="mr-2" type="text" placeholder=" cautare " pInputText/>

            <p-selectButton
                    [options]="languages"
                    [(ngModel)]="value"
                    (onOptionClick)="changeLanguage(value)"
                    optionLabel="label"
                    optionValue="value"
            />
        </div>
    </p-toolbar>
</div>

<div>
    <p-tabView>
        <p-tabPanel header="Prafuri de Inghetata">
            <div class="flex flex-row">
                <div class="mx-2">Retete pentru Aparate</div>
                <div class="mx-2">Standard</div>
                <div class="mx-2">Premium</div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Granita si Slush ">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                numquam eius modi.
            </p>
        </p-tabPanel>
        <p-tabPanel header="Topping">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est
                laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus.
            </p>
        </p-tabPanel>
        <p-tabPanel header="Accesorii">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est
                laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus.
            </p>
        </p-tabPanel>
    </p-tabView>
</div>
