:root {
  width: 100%;
  margin: 0;
  padding: 0;
}

i {
  scale: 200%;
}

.photo {
  height: 100vh;
  background-image: url('/assets/images/ice.jpg');
  background-size: cover; /* Make sure the image covers the entire area */
}

.discover {
  background: #ffffff;
  border-radius: 15px;
}

.discover-cover {
  background-image: url('/assets/images/ice.jpg');
  background-position: center;
  border-radius: 15px;
}

.discover-text {
  background: rgba(255, 255, 255, 0.85);
  color: #000000;
  border-radius: 15px;
}
