<div class="bg flex flex-column">
    <div class="photo"></div>

    <div class="flex justify-content-center">

        <div class="mx-5 md:w-8">
            <h2 class="my-5  mx-5 text-left">{{ "about-us" | translate }}</h2>

            <div class="mb-5 text-center">
                <i class="pi pi-verified" size="large"></i>
            </div>
            <p class=" ">
                Suntem cei mai vechi producatori de prafuri de inghetata din Romania. In
                1990 intr-un mic laborator s-a nascut brandul Magic Ice, care de-a
                lungul timpului a fost cladit cu dragoste si pasiune de catre fondatorul
                Marius Negru.
            </p>
            <br/>

            <div class="my-5 text-center">
                <i class="pi pi-globe" size="large"></i>
            </div>

            <p>
                Cu o experienta de peste 30 de ani de-a lungul anilor, acest brand a
                reusit sa multumeasca sute de clienti. De-a lungul timpului ne-am ales
                furnizorii care sunt cei mai buni si recunoscuti in lume in acest
                domeniu, materiile prime fiind atent selectate. In prezent produsele
                noastre au intrat si pe piata Uniunii Europene.
            </p>

            <br/>

            <div class="flex justify-content-center">
                <div class="discover lg:w-6">
                    <div class="discover-cover p-1">
                        <div class="discover-text text-center m-5 p-5">
                            <h4>{{ "discover-more" | translate }}</h4>
                            <br/>
                            <div>
                                <i class="pi pi-home"></i>
                            </div>
                            <br/>
                            <p>Magic Ice Calea Radnei, nr.169, Arad - Romania</p>
                        </div>
                    </div>
                </div>
            </div>


            <br/>


        </div>
    </div>
</div>
