<div class="flex-column text-center">
    <hr/>

    <p class="font-bold">{{ "contact" | translate }}</p>
    <p><i class="pi pi-envelope"></i> {{ "email" | translate }}</p>
    <p><i class="pi pi-phone"></i> {{ "phone" | translate }}</p>

    <a href="https://www.facebook.com/MagicIceCreamPowders" target="_blank">
        <p-button
                link="www.facebook.com"
                size="large"
                [text]="true"
                icon="pi pi-facebook"
                [rounded]="true"
        ></p-button>
    </a>
    <a href="https://www.instagram.com/magicice.ro/" target="_blank">
        <p-button
                size="large"
                [text]="true"
                icon="pi pi-instagram"
                [rounded]="true"
        ></p-button>
    </a>
    <a href="https://www.linkedin.com" target="_blank">
        <p-button
                size="large"
                [text]="true"
                icon="pi pi-linkedin"
                [rounded]="true"
        ></p-button>
    </a>
    <hr/>
    <p class="text-center mt-5">2024 {{ "copyright" | translate }} | {{ "rights" | translate }}</p>

</div>
