<div class="bg flex flex-column">
    <div class="flex justify-content-center">
        <div class="mx-5 md:w-8">

            <h1 class="my-5 text-center font-bold "> Istorie </h1>

            <p>
                In 1990, dupa revolutie cand granitele s-au deschis, am dus o noua
                tehnologie si know-how in producerea inghetatei, nemaiintalnita pana
                atunci in Romania. A fost o adevarata explozie, in cativa ani
                deschizandu-se sute de gelaterii stradale.
            </p>

            <br/>

            <div>
                <app-count-up [target]="30"></app-count-up>
            </div>
            <h2 class="text-center">ani de experienta</h2>
            <br/>

            <p>
                In Arad a inceput productia primelor prafuri de inghetata produse in
                Romania. In anii `90 prafurile noastre de inghetata erau cunoscute sub
                numele de Imperial, ulterior din 1996 numindu-le Magic Ice.
            </p>
            <br/>
            <div>
                <app-count-up [target]="40"></app-count-up>
            </div>
            <h2 class="text-center">arome</h2>
            <br/>
            <p>
                In prezent ne mandrim cu o paleta de peste 40 de arome diverse si alte
                cateva produse sub brandul Magic Ice. Alaturate si tu familiei Magic Ice
                si cu siguranta iti vom satisface orice dorinta.
            </p>
        </div>
    </div>
</div>
